@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

body{
    background-color: var(--bgColor);
    color: var(--txt-color);
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    flex-direction: column;
    height: 115vh;
}

header{
    background-color: var(--header);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    max-width: 200px;
}